<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>Hitsz-Live</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="./css/element.css">

  <link href="./css/shop-detail.css" rel="stylesheet">
  <link href="./css/main.css" rel="stylesheet">

  <style type="text/css">

  </style>
</head>
<body>
<div id="app" style="overflow-y: scroll; overflow-x: hidden" @scroll="onScroll($event)" >
  <div class="header">
    <div class="header-back-btn" @click="goBack"><i class="el-icon-arrow-left"></i></div>
    <div class="header-title"></div>
    <div class="header-share">...</div>
  </div>
  <div class="top-bar"></div>
  <div class="shop-info-box" >
    <div class="shop-title">{{shop.name}}</div>
    <div class="shop-rate">
      <el-rate
          disabled v-model="shop.score/10"
          text-color="#F63"
          show-score
      ></el-rate>
      <span>{{shop.comments}}条</span>
    </div>
    <div class="shop-images">
      <div v-for="(s,i) in shop.images" :key="i">
        <img :src="s" alt="">
      </div>
    </div>
    <div class="shop-address">
      <div><i class="el-icon-map-location"></i></div>
      <span>{{shop.address}}</span>
      <div style="width: 10px; flex-grow: 2; text-align: center; color: #e1e2e3">|</div>
      <div style="margin: 0 5px"><img src="https://p0.meituan.net/travelcube/bf684aa196c870810655e45b1e52ce843484.png@24w_16h_40q" alt=""></div>
      <div><img src="https://p0.meituan.net/travelcube/9277ace32123e0c9f59dedf4407892221566.png@24w_24h_40q" alt=""></div>
    </div>
  </div>
  <div class="shop-divider"></div>
  <div class="shop-open-time">
    <span><i class="el-icon-watch"></i></span>
    <div>营业时间</div>
    <div>{{shop.openHours}}</div>
  </div>
  <div class="shop-divider"></div>
  <div class="shop-voucher">
    <div>
      <span class="voucher-icon">券</span>
      <span style="font-weight: bold;">代金券</span>
    </div>
    <div class="voucher-box" v-for="v in vouchers" :key="v.id" v-if="!isEnd(v)">
      <div class="voucher-circle">
        <div class="voucher-b"></div>
        <div class="voucher-b"></div>
        <div class="voucher-b"></div>
      </div>
      <div class="voucher-left">
        <div class="voucher-title">{{v.title}}</div>
        <div class="voucher-subtitle">{{v.subTitle}}</div>
        <div class="voucher-price"><div>￥ {{util.formatPrice(v.payValue)}}</div>  <span>{{(v.payValue*10)/v.actualValue}}折</span></div>
      </div>
      <div class="voucher-right">
        <div v-if="v.type" class="seckill-box">
          <div class="voucher-btn" :class="{'disable-btn': isNotBegin(v) || v.stock < 1}" @click="seckill(v)">限时抢购</div>
          <div class="seckill-stock">剩余 <span>{{v.stock}}</span> 张</div>
          <div class="seckill-time">{{formatTime(v)}}</div>
        </div>
        <div class="voucher-btn" v-else>
          <div class="voucher-btn" :class="disable-btn" @click="kill(v)">抢购</div>
        </div>
      </div>
    </div>
  </div>
  <div class="shop-divider"></div>
  <div class="shop-comments">
    <div class="comments-head">
      <div>网友评价</div>
      <div @click="addComment()"><i class="el-icon-chat-square">新增评论</i></div>
    </div>
    <div class="blog-list">
      <div class="comment-box" v-for="b in comments" :key="b.id">
        <div class="comment-icon">
          <img :src="b.icon || '/imgs/icons/default-icon.png'" alt="" width="20px" height="20px">
        </div>
        <div class="comment-info">
          <div class="comment-user">{{b.name}}</div>
          <div style="padding: 5px 0; font-size: 14px">
            {{b.content}}
          </div>
          <div class="comment-liked" @click="addLike2(b)">
            <svg t="1646634642977" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2187" width="14" height="14">
              <path d="M160 944c0 8.8-7.2 16-16 16h-32c-26.5 0-48-21.5-48-48V528c0-26.5 21.5-48 48-48h32c8.8 0 16 7.2 16 16v448zM96 416c-53 0-96 43-96 96v416c0 53 43 96 96 96h96c17.7 0 32-14.3 32-32V448c0-17.7-14.3-32-32-32H96zM505.6 64c16.2 0 26.4 8.7 31 13.9 4.6 5.2 12.1 16.3 10.3 32.4l-23.5 203.4c-4.9 42.2 8.6 84.6 36.8 116.4 28.3 31.7 68.9 49.9 111.4 49.9h271.2c6.6 0 10.8 3.3 13.2 6.1s5 7.5 4 14l-48 303.4c-6.9 43.6-29.1 83.4-62.7 112C815.8 944.2 773 960 728.9 960h-317c-33.1 0-59.9-26.8-59.9-59.9v-455c0-6.1 1.7-12 5-17.1 69.5-109 106.4-234.2 107-364h41.6z m0-64h-44.9C427.2 0 400 27.2 400 60.7c0 127.1-39.1 251.2-112 355.3v484.1c0 68.4 55.5 123.9 123.9 123.9h317c122.7 0 227.2-89.3 246.3-210.5l47.9-303.4c7.8-49.4-30.4-94.1-80.4-94.1H671.6c-50.9 0-90.5-44.4-84.6-95l23.5-203.4C617.7 55 568.7 0 505.6 0z" p-id="2188" :fill="b.isLike ? '#ff6633' : '#82848a'"></path>
            </svg>
            <span :class="{liked: b.isLike}">{{b.liked}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shop-divider"></div>
</div>
<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<!-- 引入组件库 -->
<script src="./js/element.js"></script>
<script src="./js/common.js"></script>
<script>

  const app = new Vue({
    el: "#app",
    data: {
      util,
      shop: {},
      vouchers: [],
      isReachBottom: false,
      comments: [],
      current: 1,
      typeId:0,
      typeName:""
    },
    created() {
      // 获取参数
      let shopId = util.getUrlParam("id");
      this.typeId = util.getUrlParam("type");
      this.typeName = util.getUrlParam("name");
      // 查询酒店信息
      this.queryShopById(shopId);
      // 查询优惠券信息
      this.queryVoucher(shopId);
      this.queryHotCommentsScroll();
    },
    methods: {
      goBack() {
        location.href = "/shop-list.html?type=" + this.typeId + "&name=" + this.typeName
      },
      queryShopById(shopId) {
        axios.get("/shop/" + shopId)
        .then(({data}) => {
          data.images = data.images.split(",")
          this.shop = data
        })
        .catch(this.$message.error)
      },
      queryVoucher(shopId) {
        axios.get("/voucher/list/" + shopId)
        .then(({data}) => {
          this.vouchers = data;
        })
        .catch(this.$message.error)
      },
      formatTime(v){
        let b = new Date(v.beginTime);
        let e = new Date(v.endTime);
        return b.getMonth() + 1 + "月" + b.getDate() + "日 "
          +  b.getHours() + ":" + this.formatMinutes(b.getMinutes())
          + " ~ "/*  + e.getMonth() + 1 + "月" + e.getDate() + "日 " */
          +  e.getHours() + ":" + this.formatMinutes(e.getMinutes());
      },
      formatMinutes(m){
        if(m < 10) m = "0" + m
        return m;
      },
      isNotBegin(v){
        return new Date(v.beginTime).getTime() > new Date().getTime();
      },
      isEnd(v){
        return new Date(v.endTime).getTime() < new Date().getTime();
      },
      seckill(v){
        if(!token){
          this.$message.error("请先登录")
          // 未登录，跳转
          setTimeout(() => {
            location.href = "/login.html"
          }, 200);
          return;
        }
        if(this.isNotBegin(v)){
          this.$message.error("优惠券抢购尚未开始！")
          return;
        }
        if(this.isEnd(v)){
          this.$message.error("优惠券抢购已经结束！")
          return;
        }
        if(v.stock < 1){
          this.$message.error("库存不足，请刷新再试试！")
          return;
        }
        let id = v.id;
        // 秒杀抢购
        axios.post("/voucher-order/seckill/" + id)
        .then(({data}) => {
          // 抢购成功，这里输出订单id，支付功能TODO
          this.$message.success("抢购成功，订单id：" + data)
        })
        .catch(this.$message.error)
      },
      kill(v) {
        if(!token){
          this.$message.error("请先登录")
          // 未登录，跳转
          setTimeout(() => {
            location.href = "/login.html"
          }, 200);
          return;
        }
        let id = v.id;
        // 抢购
        axios.post("/voucher-order/kill/" + id)
                .then(({data}) => {
                  // 抢购成功，这里输出订单id，支付功能TODO
                  this.$message.success("抢购成功，订单id：" + data)
                })
                .catch(this.$message.error)
      },
      //添加评论
      addComment() {
        location.href = "/shop-comments.html?shopId=" + this.shop.id
      },
      addLike2(b){
        axios.put("/shop-comments/like-comment/" +b.id)
                .then(({data}) => {
                  this.current = 1;
                  axios.get("/shop-comments/check-list/" + util.getUrlParam("id") + "/" + this.current)
                          .then(({data}) => {
                            this.comments = data
                          })
                          .catch(err => {
                            this.$message.error(err)
                          })
                })
                .catch(err => {
                  this.$message.error(err)
                })
      },
      load() {
        this.count += 2;
      },
      onScroll(e) {
        let scrollTop = e.target.scrollTop;
        let offsetHeight = e.target.offsetHeight;
        let scrollHeight = e.target.scrollHeight;
        if (scrollTop === 0) {
          // 到顶部了，查询一次
          this.queryHotCommentsScroll(true);
        } else if (scrollTop + offsetHeight >= scrollHeight && !this.isReachBottom) {
          this.isReachBottom = true

          // 再次查询下一页数据
          this.current++;
          this.queryHotCommentsScroll();
        } else {
          this.isReachBottom = false
        }
      },
      queryHotCommentsScroll(clear) {
        if(clear){
          this.current = 1;
        }
        axios.get("/shop-comments/check-list/" + util.getUrlParam("id") + "/" + this.current)
                .then(({data}) => {
                  this.comments = clear?data:this.comments.concat(data);
                })
                .catch(err => {
                  this.$message.error(err)
                })
      },
    }
  })
</script>
</body>
</html>
